html {
    font-size: 100%;
    scroll-behavior: smooth;
    color: #ffffff;
}

body {
    background-color: #161616;
    margin: 0;
}

section {
    min-height: 100vh;
}

header {
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 1.5rem;
}

#grid-forside {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
}

.linevertical {
    height: 600px;
    width: 1px;
    margin-top: 80px;
    background: #ffffff;
    border-bottom: 1px #161616;
}

p {
    text-align: center;
}

#robotosymbol {
    margin-top: 100px;
}

#playfairsymbol {
    margin-top: 100px;
}

.robotoby h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

.robotoby p {
    font-family: 'Roboto', sans-serif;
    font-style: oblique;
    font-weight: 300;
    letter-spacing: .125rem;
}

.playfairby h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
    font-family: 'Playfair Display', serif;
}

.playfairby p {
    font-family: 'Playfair Display', serif;
    font-style: oblique;
    font-weight: 400;
    letter-spacing: .125rem;
}

.skillelinje {
    height: 1px;
    width: 2rem;
    margin: auto;
    background: #ffffff;
    border-bottom: 1px #161616;
}

a {
    text-decoration: none;
    color: #ffffff;
}

@media (max-width: 1024px) {
    #grid-forside {
        margin-top: 150px;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        justify-items: center;
    }
    .linevertical {
        display: hidden;
        background: #161616;
    }
    .skillelinje {
        margin-bottom: 5rem;
    }
    header {
        width: 100%;
        top: 0;
        background-color: #161616;
        position: fixed;
    }
    .playfairby h1 {
        font-size: 2.5rem;
    }
    .robotoby h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 640px) {
    #robotosymbol {
        margin-top: 50px;
    }
    #grid-forside {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .linevertical {
        display: none;
    }
    .skillelinje {
        margin-bottom: 5rem;
    }
    header {
        width: 100%;
        top: 0;
        background-color: #161616;
        position: fixed;
    }
    .playfairby h1 {
        font-size: 2rem;
    }
}